[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
scipy = "*"
sklearn = "*"
seaborn = "*"
jupyter = "*"
opencv-python = "*"
Werkzeug = "*"
Flask = "*"
Keras = "*"
gevent = "*"
pillow = "*"
h5py = "*"
tensorflow = "*"



[requires]
python_version = "3.6"
